
services:

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_development
      MYSQL_USER: app
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - iris_sys

  rails:
    build: .
    image: iris-rails
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
    networks:
      - iris_sys
    deploy:
      replicas: 3

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - rails
    networks:
      - iris_sys

volumes:
  mysql_data:

networks:
  iris_sys:
