
services:

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_development
      MYSQL_USER: app
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - iris_sys

  rails:
    build: .
    image: iris-rails
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
    networks:
      - iris_sys
    deploy:
      replicas: 3

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - rails
    networks:
      - iris_sys

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - /var/run:/var/run:ro
      - /sys:/sys:ro
    networks:
      - iris_sys

  prometheus:
    image: prom/prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - iris_sys

  grafana:
    image: grafana/grafana
    restart: always
    ports:
      - "3001:3000"
    networks:
      - iris_sys



volumes:
  mysql_data:

networks:
  iris_sys:
